.banner{
    background-image: url("https://cdn.create.vista.com/api/media/medium/296406986/stock-photo-top-view-shopping-cart-presents?token=");
    height: 500px;
    width: 100%;
    font-family: serif;
    padding-top: 40px;
}